{% extends 'museum/base.html' %}

{% block content %}
    {% for artist in artists %}
        <div class="p-3">
            <div class="card">
                <div class="card-header" id="heading{{ artist.id }}">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse{{ artist.id }}" aria-expanded="false" aria-controls="collapse{{ artist.id }}">
                            {{ artist.name }}
                        </button>
                    </h5>
                </div>
                <div id ="collapse{{ artist.id }}" class="collapse" aria-labelledby="heading{{ artist.id }}" data-parent="#accordionExample">
                    <div class="card-body">
                        {% for post in artist.post_set.all %}
                            <a href="/posts/{{ post.id }}">{{ post.title }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <a href="/">top</a>
{% endblock %}