{% extends 'museum/base.html' %}

{% block content %}
    <h4><a href="/artists">Shono's Record Collection</a></h4>
    <hr>
    <h4><strong>&nbsp;{{ genre.name }}</strong></h4>
    <div class="pb-3">
    {% for other_genre in genres %}
        {% if other_genre.name != genre.name %}
            <a href="/genres/{{ other_genre.id }}" class="btn btn-sm btn-btn btn-secondary mb-2">{{ other_genre.name }}</a>
        {% endif %}
    {% endfor %}
    </div>
    <div class="accordion" id="accordionExample">
        {% for artist in artists %}
            <div class="card">
                <div class="card-header" id="heading{{ artist.id }}">
                    <h3 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ artist.id }}" aria-expanded="true" aria-controls="collapse{{ artist.id }}">
                            <span class="text-dark">{{ artist.name }}</span>
                        </button>
                    </h3>
                </div>
                <div id ="collapse{{ artist.id }}" class="collapse" aria-labelledby="heading{{ artist.id }}" data-parent="#accordionExample">
                    <div class="card-body">
                        {% for post in artist.post_set.all %}
                            <div class="pl-4 py-1"><a href="/posts/{{ post.id }}">{{ post.title }}</a></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}