{% load static %}
<script>
    function goBack() {
        window.history.back();
    }
    function reLoad() {
        window.location.reload();
    }
</script>
<html>
    <meta name="twitter:card" content="summary" /> <!--①-->
    <meta property="og:title" content="Shono Mercy Museum" /> <!--④-->
    <meta property="og:description" content="ブルースのオンラインミュージアム" /> <!--⑤-->
    <meta property="og:image" content="shono.jpg" /> <!--⑥-->
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134697264-2"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-134697264-2');
        </script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/museum.css' %}">
        <title>Shono Mercy Museum</title>
    </head>
    <body>
        <div class="p-3 mb-4 bg-white border-bottom shadow-sm text-center">
            <strong><h3><a href="/" class="text-dark">Shono Mercy Museum</a></h3></strong>
        </div>
        <div class="container">
            <div class="content container">
                <div>
                    {% block content %}
                    {% endblock %}
                </div>
                <div class="pt-4 text-right">
                    <div onclick="goBack()" class="btn grey left"><span>戻る</span></div>
                    <input type="button" value="再読み込み" class="btn grey right" onclick="reLoad()" />
                </div>
            </div>
        </div>
        <footer class="container py-5 px-4">
            <a href="/" class="text-dark">TOP</a><br />
            <a href="/terms" class="text-dark">利用規約</a><br />
            <a href="/admin" class="text-dark">管理画面</a><br /><br />
            <p class="text-muted small">All rights reserved by Shono Mercy and <a href="https://otohub.tokyo" class="text-muted">オトハブ</a>.</p>
        </footer>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>