{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/museum.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <strong><h2><a href="/">Shono Mercy Museum</a></h2></strong>
                <small>Online Blues Memorial Hall of Fame Since 2020</small>
            </div>
            <div class="content container">
                <div class="row">
                    <div>
                    {% block content %}
                    {% endblock %}
                    </div>
                </div>
            </div>
            <div class="page-footer">
                <a href="/terms">Terms</a> <a href="/admin">管理画面</a>
            </div>
        </div>
    </body>
</html>