{% extends 'museum/base.html' %}

{% block content %}
    <h4>コラム</h4>
    <p>ここではレコードの情報以外の話題について解説していきます。音楽はもちろんのこと、それ以外にも幅広い話題を取り上げていく予定です。下の項目から気になる話題を選んでいただければそれに準ずるコラムを探すことができます。</p>
    <hr>
    <h4><strong>&nbsp;{{ genre.name }}</strong></h4>
    <div class="pb-3">
        {% for other_genre in genres %}
            {% if other_genre.name != genre.name %}
                <a href="/columnsgenre/{{ other_genre.id }}" class="btn btn-sm btn-btn btn-secondary mb-2">{{ other_genre.name }}</a>
            {% endif %}
        {% endfor %}
    </div>
    <div>
        {% for column in columns %}
            <div class="py-1">
                <div>
                    <a href="/columns/{{ column.id }}">{{ column.title }}</a>
                </div>
                <div class="text-right">
                    <p class＝"text-muted"><small>{{ column.published_date|date:"Y年n月j日" }}</small></p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}