{% extends 'museum/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div class="movie">
                {% autoescape off %}
                    {{ post.movie_tag }}
                {% endautoescape %}
            </div>
            <div class="pt-4">
                <h3>{{ post.title }}({{post.year}})</h3>
            </div>
            <div class="pl-3">
                <h5>
                    Artist: 
                    {% for artist in artists %}
                        <a href="/artists#heading{{ artist.id }}">{{ artist.name }}</a>
                    {% endfor %}
                </h5>
            </div>
            <div class="pl-3">
                <hr>
                <p class="pt-2">{{ post.text|linebreaksbr|urlize }}</p>
            </div>
            <div class="text-right">
                <p>{{ post.published_date }}</p>
            </div>
        </div>
        <div class="col-md-4">
            <p>コメント</p>
            <hr>
            <div class="pl-3">
                {% for comment in post.comments.all %}
                    <div class="comment">
                        <div class="date">{{ comment.created_date }}</div>
                        <strong>By: {{ comment.author }}</strong>
                        <p>{{ comment.text|linebreaks }}</p>
                    </div>
                {% empty %}
                    <p>コメントはありません</p>
                {% endfor %}
            </div>
            <a class="btn" href="/posts/{{ post.id }}/comment">コメントする</a>
        </div>
    </div>
{% endblock %}