{% extends 'museum/base.html' %}

{% block content %}
    <div>
        <h3>プロフィール</h3><br />
        <h4>Shono Mercy</h4><br />
        <p>1950年代の古典的シカゴブルース、ロックンロールの影響を強く受けたギタリスト。</p>
        <p>活動拠点はデトロイトから東京。</p>
        <p>本番アメリカ、デトロイトのブルースバーでバンドを持ち、仕切ってきた。</p>
        <p>ファーストアルバムはシカゴのWillie Dixon Blues Heven(元チェススタジオ)に置いてあり、アジア人名義としては初。</p>
        <p>デトロイトではマディーウォーターズ、スティービー・レイボン、エタ・ジェイムス、ジェームズ・コットン、バディ・ガイなどと一緒に演奏した演者とバンドを組んでおり、アルバムはNo Cover Productionの社長のMike Boulan監修のもとレコーディングしており、デトロイトで発売。</p><br />
        <h4>Shono Mercy Museumについて</h4><br />
        <p>私が全米各地を周り、揃えたレコードを紹介していくとともにアメリカの民俗文化、歴史を解説するオンラインミュージアムです。</p>
        <p>次世代の方にアメリカの文化を伝えるために始めました。</p>
        <p>レコードのご寄贈やご寄付は下記メールアドレスにご連絡いただければと思います。</p><br />
        <h4>連絡先</h4><br />
        <p><a href="mailto:shono.mercy.music&#64;gmail.com" class="text-dark">e-mail: shono.mercy.music[at]gmail.com</a></p>
        <p><a href="https://www.facebook.com/shono.obara.7">Facebook: Shono Mercy</a></p>
        <p><a href="https://www.instagram.com/shonomusic_offical/?hl=en">Instagram: shonomusic_official</a></p>
        <p>Spotify/Apple Music/Amazon music/etc.. : Shono Mercy</p>
    </div>
{% endblock %}