{% extends 'museum/base.html' %}

{% block content %}
    <div>
        <h4>Shono Mercy</h4>
        <hr>
        <p>50年代のシカゴブルース、ロックンロールをベースにアメリカのシカゴ、デトロイトを拠点とするアーティストとして2019年から活動</p><br />
        <p>2019年6月:　ファーストアルバム"The Blues"完成</p>
        <p>2019年6月:　BLUES HEAVEN FOUNDATION（旧チェススタジオ）シカゴ、デトロイトのCDショップと契約し、販売</p>
        <p>→BLUES HEAVEN FOUNDATIONではマネージャーのJanine Judgeと契約を結び、アルバムがチェススタジオでアジア人名義初の永久に保管されることとなった。</p>
        <p>2019年11-12月:　日本(東京)、フィリピン(マニラ)、カナダ(トロント)、アメリカ(デトロイト)の4カ国に渡るツアーを開催</p>
        <p>2019年12月:　デトロイトを拠点に音楽活動を始める</p>
        <p>→以降平均週5回ブルースクラブで演奏するようになる</p>
        <p>2020年1月:　Mitch Riderの元ドラマーWilson Owens達とシカゴブルースのバンドを組む</p>
        <p>2020年2月:　デトロイトのブルースフェスティバル"Heat Stock Festival"に出演が決まる（その後中止が決定）</p>
        <p>2枚のアルバム"Rock and Roll Show"をデトロイト市内のCDショップから発売</p>
        <p>2020年5月:　シカゴのブルースラジオ番組のWNIJ"Saturday Night Blues"でアルバム"Rock and Roll Show"を紹介される。
        （以降数回の放送に渡り紹介）</p>
        <p>2020年7月:　No cover productionsと契約し、デトロイトでのファーストアルバム"The Blues from Detroit"を収録。→バンドメンバーはDale Robertson, Nickey T, Brendon Linsley, Jason Bone, Johnny Johnson, Neno Blag</p>
        <p>（彼らはBuddy Guy, Muddy Waters, KoKo Tylor, Etta James, Stevie Ray Bone, Bobby Rush,Ronnie Earlなどと共演、バンドメンバーして活動していた）</p>
        <p>2020年9月:　コロナウイルスのためやむを得ず日本に帰国</p>
        <p>2020年10月:　アメリカのルーツ音楽を日本の若い世代に伝えるため、自身が所持するレコードを元にした"Shono Mercy Museum"というオンラインの博物館の作成に着手</p>
        <p>2020年11月:　2021年度、ニューオーリンズで開催予定のNew Orleans Jazz Festへの参加の誘いを同バンドメンバーから受ける</p><br />
        <h4>連絡先</h4><br />
        <p><a href="mailto:shono.mercy.music&#64;gmail.com" class="text-dark">e-mail: shono.mercy.music[at]gmail.com</a></p>
        <p><a href="https://www.facebook.com/shono.obara.7">Facebook: Shono Mercy</a></p>
        <p><a href="https://www.instagram.com/shonomusic_offical/?hl=en">Instagram: shonomusic_official</a></p>
        <p><a href="https://open.spotify.com/artist/1cQ6fxMfuSiTmmRJa7PMWQ?si=34FppQ7-Qci8uWpgWSL4lg">Spotify</a>/<a href="https://music.apple.com/jp/artist/shono-mercy/1525028883">Apple Music</a>/<a href="https://www.amazon.co.jp/s?k=Shono+Mercy+%26+Dale+Robertson&i=digital-music&search-type=ss&ref=ntt_srch_drd_B08K1GH1QC">Amazon music</a>/etc.. : Shono Mercy</p>
    </div>
{% endblock %}