{% extends 'museum/base.html' %}

{% block content %}
    <style>
        .timeline {
            list-style: none;
        }
        .timeline > li {
            margin-bottom: 20px;
        }
        .timeline-content{
            margin-left: 10px
        }

        /* for Desktop */
        @media ( min-width : 640px ){
        .timeline > li {
            overflow: hidden;
            margin: 0;
            position: relative;
        }
        .timeline-date {
            width: 150px;
            float: left;
            margin-top: 10px;
        }
        .timeline-content {
            width: 75%;
            float: left;
            border-left: 3px #9e9e9e6e solid;
            padding-left: 30px;
            margin-left: 0px
        }
        .timeline-content:before {
            content: '';
            width: 12px;
            height: 12px;
            background: #a5a5a5;
            position: absolute;
            left: 145px;
            top: 18px;
            border-radius: 100%;
        }
        }
    </style>
    <div>
        <h4>Shono Mercy</h4>
        <p>50年代のシカゴブルース、ロックンロールをベースにアメリカのシカゴ、デトロイトを拠点とするアーティストとして2019年から活動</p><br />
        <ul class="timeline pl-2">
            <li>
                <h5 class="timeline-date mb-0">2019年6月</h5>
                <div class="timeline-content" style="padding-bottom: 10px;">
                    <p style="margin-top: 10px;">ファーストアルバム"The Blues"完成</p>
                </div>
            </li>
            <li>
                <h5 class="timeline-date">2019年6月</h5>
                <div class="timeline-content">
                    <p style="margin-top: 10px;">BLUES HEAVEN FOUNDATION（旧チェススタジオ）シカゴ、デトロイトのCDショップと契約し、販売</p>
                    <p>BLUES HEAVEN FOUNDATIONではマネージャーのJanine Judgeと契約を結び、アルバムがチェススタジオでアジア人名義初の永久に保管されることとなった。</p>
                </div>
            </li>
            <li>
                <h5 class="timeline-date">2019年11-12月</h5>
                <div class="timeline-content">
                    <p style="margin-top: 10px;">日本(東京)、フィリピン(マニラ)、カナダ(トロント)、アメリカ(デトロイト)の4カ国に渡るツアーを開催</p>
                </div>
            </li>
            <li>
                <h5 class="timeline-date">2019年12月</h5>
                <div class="timeline-content">
                    <p style="margin-top: 10px;">デトロイトを拠点に音楽活動を始める</p>
                    <p>以降平均週5回ブルースクラブで演奏するようになる</p>
                </div>
            </li>
            <li>
                <h5 class="timeline-date">2020年1月</h5>
                <div class="timeline-content">
                    <p style="margin-top: 10px;">Mitch Riderの元ドラマーWilson Owens達とシカゴブルースのバンドを組む</p>
                </div>
            </li>
            <li>
                <h5 class="timeline-date">2020年2月</h5>
                <div class="timeline-content">
                    <p style="margin-top: 10px;">デトロイトのブルースフェスティバル"Heat Stock Festival"に出演が決まる（その後中止が決定）</p>
                    <p>2枚目のアルバム"Rock and Roll Show"をデトロイト市内のCDショップから発売</p>
                </div>
            </li>
            <li>
                <h5 class="timeline-date">2020年5月</h5>
                <div class="timeline-content">
                    <p style="margin-top: 10px;">シカゴのブルースラジオ番組のWNIJ"Saturday Night Blues"でアルバム"Rock and Roll Show"を紹介される。（以降数回の放送に渡り紹介）</p>
                </div>
            </li>
            <li>
                <h5 class="timeline-date">2020年7月</h5>
                <div class="timeline-content">
                    <p style="margin-top: 10px;">No cover productionsと契約し、デトロイトでのファーストアルバム"The Blues from Detroit"を収録。</p>
                    <p>バンドメンバーはDale Robertson, Nickey T, Brendon Linsley, Jason Bone, Johnny Johnson, Neno Blag （彼らはBuddy Guy, Muddy Waters, KoKo Tylor, Etta James, Stevie Ray Bone, Bobby Rush,Ronnie Earlなどと共演、バンドメンバーして活動していた）</p>
                </div>
            </li>
            <li>
                <h5 class="timeline-date">2020年9月</h5>
                <div class="timeline-content">
                    <p style="margin-top: 10px;">コロナウイルスのためやむを得ず日本に帰国</p>
                </div>
            </li>
            <li>
                <h5 class="timeline-date">2020年10月</h5>
                <div class="timeline-content">
                    <p style="margin-top: 10px;">アメリカのルーツ音楽を日本の若い世代に伝えるため、自身が所持するレコードを元にした"Shono Mercy Museum"というオンラインの博物館の作成に着手</p>
                </div>
            </li>
            <li>
                <h5 class="timeline-date">2020年11月</h5>
                <div class="timeline-content">
                    <p style="margin-top: 10px;">2021年度、ニューオーリンズで開催予定のNew Orleans Jazz Festへの参加の誘いを同バンドメンバーから受ける</p>
                </div>
            </li>
        </ul>
        <hr>
        <h4>連絡先</h4><br />
        <p><a href="mailto:shono.mercy.music&#64;gmail.com" class="text-dark">e-mail: shono.mercy.music[at]gmail.com</a></p>
        <p><a href="https://www.facebook.com/shono.obara.7">Facebook: Shono Mercy</a></p>
        <p><a href="https://www.instagram.com/shonomusic_official">Instagram: shonomusic_official</a></p>
        <p><a href="https://open.spotify.com/artist/1cQ6fxMfuSiTmmRJa7PMWQ?si=34FppQ7-Qci8uWpgWSL4lg">Spotify</a>/<a href="https://music.apple.com/jp/artist/shono-mercy/1525028883">Apple Music</a>/<a href="https://www.amazon.co.jp/s?k=Shono+Mercy+%26+Dale+Robertson&i=digital-music&search-type=ss&ref=ntt_srch_drd_B08K1GH1QC">Amazon music</a>/etc.. : Shono Mercy</p>
    </div>
{% endblock %}