{% extends 'museum/base.html' %}

{% block content %}
    <div>
        <h3>special thanks</h3>
        <hr>
        <br />
        <h4><a href="https://www.facebook.com/WNIJ-Saturday-Night-Blues-137029719707660/">WNIJ Saturday Night Blues</a></h4>
        <br />
        <h4><a href="http://www.bluesheaven.com/">WILLIE DIXON’S BLUES HEAVEN FOUNDATION</a></h4>
        <br />
        <h4><a href="http://detroitbluessociety.org/mobi/">Detroit Blues Society</a></h4>
        <br />
        <h4><a href="https://otohub.tokyo">オトハブ</a></h4>
        <br />
    </div>
{% endblock %}