{% extends 'museum/base.html' %}

{% block content %}
    <div>
        <h4>special thanks</h4>
        <p>私の活動に今まで関わっていただいた方々のHP等を載せています。気になるものがございましたらご覧頂けたらと思います。</p>
        <hr>
        <br />
        <div class="pl-3">
            <h5><a href="https://www.facebook.com/WNIJ-Saturday-Night-Blues-137029719707660/">WNIJ Saturday Night Blues</a></h5>
            <br />
            <h5><a href="http://www.bluesheaven.com/">WILLIE DIXON’S BLUES HEAVEN FOUNDATION</a></h5>
            <br />
            <h5><a href="http://detroitbluessociety.org/mobi/">Detroit Blues Society</a></h5>
            <br />
            <h5><a href="https://otohub.tokyo">オトハブ</a></h5>
            <br />
        </div>
    </div>
{% endblock %}