{% extends 'museum/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="pl-2">
                <div>
                    <a href="/profile" class="text-dark h5">プロフィール</a>
                </div>
                <br />
                <div>
                    <a href="/aboutus" class="text-dark h5">当サイトについて</a>
                </div>
                <br />
                <div>
                    <a href="/news" class="text-dark h5">ニュース</a>
                </div>
                <br />
                <div>
                    <a href="/columns" class="text-dark h5">コラム</a>
                </div>
                <br />
                <div>
                    <a href="/dbs" class="text-dark h5">Detroit Blues Society 翻訳記事</a>
                </div>
                <br />
                <div>
                    <a href="/thanks" class="text-dark h5">Special Thanks</a>
                </div>
                <br />
                <br />
            </div>
            <div class="pb-4">
                <a href="/artists" class="text-dark h4">Shono's Record Collection</a>
                <br />
                <p class="text-muted">ジャンル</p>
                {% for genre in genres %}
                    <a href="/genres/{{ genre.id }}" class="btn btn-lg btn-primary">{{ genre.name }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="thumbnail">
                {% load static %}
                <img src="{% static 'shono.jpg' %}">
            </div>
        </div>
    </div>
{% endblock %}