{% extends 'museum/base.html' %}

{% block content %}
    <div>
        <a href="/profile" class="btn">Profile</a>
        <a href="/news" class="btn">NEWS</a>
        <a href="/dbs" class="btn">Detroit Blues Society</a>
        <a href="/thanks" class="btn">special thanks</a>
    </div>
    <div>
        <p>Record Collection</p>
        <a href="/artists" class="btn">ALL</a>
        {% for genre in genres %}
            <a href="/genres/{{ genre.id }}" class="btn">{{ genre.name }}</a>
        {% endfor %}
    </div>
{% endblock %}